/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*UTILITY*/



/*HEADER*/
/*MAIN*/

main{
background-color: black;
display: flex;
justify-content: center;
align-content: flex-start;
flex-wrap: wrap;
height: calc(100vh - 80px);
overflow-y: auto;
padding: 20px 0;
}


.user-box{
  position: relative;
  background-color: rgb(117, 21, 21);
  width: 300px;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px;
  

}

.user-box span{
  background-color: rgba(135, 135, 135, 0.5);
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  bottom: 5px;
  padding: 5px;
}


main img{
  width: 300px;
  height: 200px;
  object-fit: cover;

}


/*FOOTER*/

footer{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: rgb(44, 44, 44);
  color: white;
  
}
.options,.group{
  display: flex;
}


footer .icon , .group{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

footer .icon i{
margin-bottom: px;
}

.group{
  flex-direction: row;
}

.end-meeting{
  background-color: gray;
  height: 100%;
  width: auto;
  color: red;
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}
